@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  margin: auto;
  text-align: center;
  font-size: 16px;
}

h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

h4 {
  color: var(--dark-blue);
  font-weight: 900;
  margin: 5px auto;
}

.desc {
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
  font-weight: 500;
  padding: 5px;
}

.bgimg {
  background: url(./images/pattern-background-mobile.svg) no-repeat center/cover;
  position: absolute;
  height: 90vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img {
  max-width: 100%;
}

.container {
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
  max-width: 375px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
}

.pricing {
  margin: 10PX auto;
  padding: 10px;
  background-color: var(--very-pale-blue);
  width: 80%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price{
margin: 0 auto;
}
.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.btn-change {
  background-color: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: #fff;
  padding: 13px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}

.btn-secondary {
  background-color: transparent;
  color: var(--desaturated-blue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}

.btn-change:hover {
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 90%;
  cursor: pointer;
}

.btn-secondary:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.buttons {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .bgimg {
    background: url(./images/pattern-background-desktop.svg) no-repeat center/cover;
    height: 90vh;
  }
}
